body {
    background-color: lightblue;
    margin: 0;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
}

.menu {
    display: flex;
    border-color: 1cm crimson;
}

.menu a {
    padding: 8px 12px;
    border: 1px solid transparent;
}

.menu a:hover {
    background-color: rgb(231, 7, 7);
    border: 1px solid black;
}

.login {
    display: flex;
    margin-right: 20px;
}

.login a {
    margin-left: 2cm;
     
}

.cadastrar{
    background-color: red;
    padding: 10px 20px; 
}

.card{
    
}